//SCP-2403
//Script 4

insert into csi_bancos_maestro (id, cod, descripcion, pais) select csi_bancos_maestro_aux.cod, csi_bancos_maestro_aux.cod, csi_bancos_maestro_aux.descripcion, 'ES' from csi_bancos_maestro_aux;

insert into csi_bancos_maestro_bic (codigo_entidad,codigo_bic, codigo_por_defecto) values ('0003','BDEPESM1XXX', 'S');	
insert into csi_bancos_maestro_bic (codigo_entidad,codigo_bic, codigo_por_defecto) values ('0004','BANDESSSXXX', 'S');
insert into csi_bancos_maestro_bic (codigo_entidad,codigo_bic, codigo_por_defecto) values ('0019','DEUTESBBASS', 'S');	
